<template>
  <div class="q-pa-md">
    <div class="row justify-center flex items-center q-mb-lg">
      <q-input
        v-model="searchQuery"
        placeholder="Search movies by title"
        outlined
        rounded
      >
        <template #append>
          <q-avatar>
            <q-icon name="search" size="md" />
          </q-avatar>
        </template>
      </q-input>
    </div>
    <q-separator spaced />
    <div v-if="filteredMovies.length > 0" class="row q-col-gutter-md">
      <div
        v-for="movie in filteredMovies"
        :key="movie.id"
        class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
      >
        <q-card>
          <div class="q-pa-md">
            <div class="text-h6">{{ movie.title }}</div>
            <div class="text-subtitle2">{{ movie.summary }}</div>
            <div class="flex justify-end q-mb-sm">
              <q-chip v-for="(genre, i) in movie.genre" :key="i">
                {{ genre }}</q-chip
              >
            </div>
            <div class="flex justify-end q-gutter-x-sm">
              <q-btn color="primary" :to="`/manage-movie?movie-id=${movie.id}`"
                >Update</q-btn
              >
              <q-btn color="negative" @click="deleteMovie(movie.id)"
                >Delete</q-btn
              >
            </div>
          </div>
        </q-card>
      </div>
    </div>
    <div v-else class="flex items-center justify-center">No data</div>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="primary" to="/manage-movie" />
    </q-page-sticky>
  </div>
</template>

<script lang="ts" setup>
  import { ref, computed } from 'vue';
  import { useQuasar } from 'quasar';

  import { useMoviesStore } from '@/stores/movies';

  const movieStore = useMoviesStore();
  const $q = useQuasar();

  const searchQuery = ref('');

  const movies = computed(() => movieStore.movies);

  const filteredMovies = computed(() => {
    return movies.value.filter((movie) =>
      movie.title.toLowerCase().includes(searchQuery.value.toLowerCase())
    );
  });

  function deleteMovie(movieId: number) {
    movieStore.removeMovie(movieId);
    $q.notify('Movie removed!');
  }
</script>
