<template>
  <div class="q-pa-md">
    <div class="q-gutter-y-md column">
      <q-input ref="titleInput" v-model="movie.title" label="Input Title" />
      <q-input
        ref="summaryInput"
        v-model="movie.summary"
        maxlength="100"
        type="textarea"
        label="Input Summary"
      />
      <q-input
        ref="directorInput"
        v-model="movie.director"
        label="Input Director"
      />
      <q-select
        ref="genreInput"
        v-model="movie.genre"
        multiple
        :options="genreList"
        use-chips
        label="Select Genre"
      />
      <q-btn color="primary" label="Save Movie" @click="savemovie" />
    </div>
  </div>
</template>

<script lang="ts" setup>
  import { ref, onMounted } from 'vue';
  import { useRouter, useRoute } from 'vue-router';
  import { useQuasar } from 'quasar';
  import { genre } from '../constants/genreList';
  import { movie as movieType } from '@/types/movie';
  import { useMoviesStore } from '@/stores/movies';

  const moviesStore = useMoviesStore();
  const router = useRouter();
  const route = useRoute();
  const $q = useQuasar();

  const movie = ref<movieType>({
    id: 0,
    title: '',
    summary: '',
    director: '',
    genre: [],
  });
  const genreList = ref<string[]>(genre);
  function savemovie() {
    if (movie.value.id) {
      moviesStore.updateMovie(movie.value.id, {
        ...movie.value,
      });

      $q.notify('movie Updated!');
    } else {
      moviesStore.addMovie({
        ...movie.value,
        id: Math.floor(Math.random() * 10000000 + 1),
      });

      $q.notify('movie Added!');
    }

    router.push('/');
  }

  onMounted(() => {
    if (route.query['movie-id']) {
      const existentmovie = moviesStore.getmovieById(
        Number(route.query['movie-id'])
      );

      if (existentmovie?.id) {
        movie.value = {
          ...movie.value,
          ...existentmovie,
        };
      }
    }
  });
</script>
